@charset "utf-8";
/* CSS Document */
body {
    background: linear-gradient(to top, #DCDCDC, #FFF5EE );
    
}
/* header начало */
header {
    padding-top: 5px; 
}

button {
     border:none;
    background: none;
}
.verx {
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    border: solid 1px black;
    border-radius: 10px;
}
.inf {
    text-align-last: justify;
    margin-top: 5px;
}

.inf a {
    color: #000000;
    font: bold 16px/15px technic;
    margin-left: 35px;
    margin-right: 35px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 25px;
}
.izgoi {
    height: 55px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px black;
    border-radius: 10px;
}

* { box-sizing: border-box; 
}

.Tinf {
    text-align-last: justify;
    margin-top: 3px;
    margin-left: 35px;
    margin-right: 35px;
}
.Tinf a {
    font: bold 16px/15px technic;
    text-decoration:none;
    color: #000000;
}
 
ul { 
    font: bold 16px/15px technic;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: #EED5D2;
  -moz-box-shadow: #EED5D2;
  box-shadow: #EED5D2;
}

ul li {
    border: solid 1px #EECBAD;
    border-radius: 10px;
  font: bold 16px/15px technic;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 15px;
  background: #EECBAD;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li:hover {
  background: #EED5D2;
  color: #000000;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 40px;
    margin-top: 7px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li ul li { 

    margin-top: 3px;
    background: #EECBAD; 
    display: block; 
    color: #EED5D2;
}

ul li ul li:hover { 
    background: #EED5D2; 
}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* header конец */
/* main начало*/
 main {
    padding-top: 5px; 
    
}

.mainn {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 800px;
    border: solid 1px black;
    border-radius: 10px;
}
.cart {
  border-radius: 10px;
}

.cartdiv {
    text-align: center
}

#korzina {
    border: solid 1px black;
    border-radius: 10px; 
    height: 700px;
    width: 300px;
    margin-left: 36px;
    margin-top: 45px;
}

#korzina p {
    color: black;
    font: bold 25px/15px technic;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 130px;
    text-align: center;
    writing-mode: tb-rl;
}

.contener {
    display: inline-flex;
}

.contener img {
    max-height: 200px;
    max-width: 250px;
    margin-left: 35px;
}

.contener p {
    font: bold 15px/15px technic;
    text-align: center;
    margin-top: -19px;
}

.item {
    border: solid 1px #EAC19E;
    background-color: #EAC19E;
    box-shadow: 0 0 10px;
    border-radius: 10px; 
    width: 280px;
    height: 280px;
    margin-top: 45px;
    margin-left: 150px;
    margin-right: 40px ;
}



.dowmcont {
    position: relative;
    border: solid 1px #EAC19E;
    background-color: #EAC19E;
    border-radius: 10px; 
    box-shadow: 0 0 10px;
    height: 60px;
    width: 1240px;
    margin-top: 680px;
    margin-left: -1275px;
}

.dowmcont p {
    font: bold 16px/15px technic;
    text-align: center;
}
/* main конец*/
/* foother начало */
.niz { 
    margin-top: 5px; /*отступ от main */
    margin-left: 10px;
    margin-right: 10px;
    height: 80px;
    border: solid 1px black;
    border-radius: 10px;
}

.niz a {
    margin: 30px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px black;
    border-radius: 10px;
}

.niz nav {
    text-align: center;
    margin-top: 26px;
}
/* foother конец */
